name.official - полное имя страны
capital - столица
population - население
flags.svg - ссылка на изображение флага
languages - массив языков
<div class="coutry">
    <div class="coutry__block">
        <img src="{{flags.svg}}" alt="{{name.official}}" width="40" height="60">
        <h1 class="coutry__title">{{name.official}}</h1>
    </div>
    <ul class="country__list">
        <li class="country__item">Столиця: {{capital}}</li>
        <li class="country__item">Населення: {{population}}</li>
        <li class="country__item">Офіційна мова: {{languages}}</li>
    </ul>
</div>
