{{!-- name.official - полное имя страны
capital - столица
population - население
flags.svg - ссылка на изображение флага
languages - массив языков --}}
    <div class="country-info__block">
        <img src="{{flags.svg}}" alt="{{name.official}}" width="80" height="60">
        <h1 class="country-info__title">{{name.official}}</h1>
    </div>
    <ul class="country-info__list">
        <li class="country-info__item">Capital: {{capital}}</li>
        <li class="country-info__item">Populatio: {{population}}</li>
        <li class="country-info__item">languages:{{#each languages}} {{this}}, {{/each}}</li>
        {{!-- <li class="country-info__item">Languages:{{#each languages.values}}<p>language:{{language}}</p> {{/each}}</li> --}}
    </ul>

